
@{
    ViewBag.Title = "About Us";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-4">
                <div class="about-title clearfix">
                    <h3>About Intitute Ranking Database (IRD)</h3>
                    <div class=WordSection1>
                        <p class=MsoNormal style='text-align:justify'>
                            <span style='font-size:16.0pt;line-height:115%'>
                                Institute Ranking Database (IRD)
                            </span><b>
    is Centralized Database which is being prepared by SRIC, IIT Roorkee for
    keeping the Institute Raking parameters of different departments, centers,
    administrative offices, facilities etc from time to time.  The aim of the IRD
    collection is to have the correct data available in timely manner so that the
    Institute Ranking Information can be provided efficiently to the concerned
    organizations as and when required. The collected data is going to be stored
    for future use also.</b>
</p>

                        <p class=MsoNormal style='text-align:justify'>To list few of the organizations:</p>


                        <p class=MsoNormal style='text-align:justify'>
                            <img width=190 height=106 src="/Images/image001.jpg" align=left hspace=12 alt=nirf-logo.JPG>
                        </p>

                        <p class=MsoNormal style='text-align:justify'>
                            The<b><span style='font-size:14.0pt;line-height:115%'>
                                    National Institutional Ranking Framework (NIRF)
                                </span>
                            </b> has been accepted by the MHRD and launched by
                            Honourable Minister for Human Resource development on 29th September 2015. This
                            framework outlines a methodology to rank institutions across the country.<b>
                                Read more..
                            </b> <a href="https://www.nirfindia.org" target="_blank">https://www.nirfindia.org</a>
                        </p>

                        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

                        <p class=MsoNormal style='text-align:justify'>
                            <img width=180 height=64 src="/Images/image002.jpg" align=left hspace=12 alt=the-logo.jpg>
                        </p>

                        <p class=MsoNormal style='text-align:justify'>
                            The <b>
                                <span style='font-size:14.0pt;line-height:115%'>Times Higher Education</span>
                            </b> World University
                            Rankings, founded in 2004, provide the definitive list of the world's best
                            universities, evaluated across teaching, research, international outlook,
                            reputation and more. THE’s data are trusted by governments and universities and
                            are a vital resource for students, helping them choose where to study.<b>
                                Read more..
                            </b> 
                            <a href="https://www.timeshighereducation.com/" target="_blank">https://www.timeshighereducation.com/</a>
                        </p>

                        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

                        <p class=MsoNormal style='text-align:justify'>
                            <img width=198 height=54 src="/Images/image003.jpg" align=left hspace=12 alt=qs-logo.JPG>
                        </p>

                        <p class=MsoNormal style='text-align:justify'>
                            QS World University Rankings is an annual publication of university rankings by<b>
                                <span style='font-size:14.0pt;line-height:115%'>Quacquarelli Symonds (QS)</span>
                            </b>. Previously known as
                            Times Higher Education–QS World University Rankings, the publisher had
                            collaborated with Times Higher Education magazine (THE) to publish its
                            international league tables from 2004 to 2009 before both started to announce
                            their own versions. QS then chose to continue using the pre-existing
                            methodology while Times Higher Education adopted a new methodology to create
                            their rankings.<b> Read more..</b> 
                            
                            <a href="https://www.topuniversities.com" target="_blank">https://www.topuniversities.com</a>
                        </p>

                        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

                    </div> 
    
    
    
    @*<div class="about-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                            <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                            <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                            <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                        </ul>
                    </div>*@
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<a id="back2Top" title="Back to top" href="#">Top</a>
<style>
    #back2Top {
        width: 55px;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        position: fixed;
        bottom: 50px;
        right: 50px;
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        border: none;
        outline: none;
        background-color: #0749a8;
        color: white;
        padding: 5px;
        border-radius: 4px;
        height: 45px;
    }

        #back2Top:hover {
            background-color: #0572ba;
            color: #000;
        }
</style>
<script>
    /*Scroll to top when arrow up clicked BEGIN*/
    $(window).scroll(function () {
        var height = $(window).scrollTop();
        if (height > 100) {
            $('#back2Top').fadeIn();
        } else {
            $('#back2Top').fadeOut();
        }
    });
    $(document).ready(function () {
        $("#back2Top").click(function (event) {
            event.preventDefault();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });

    });
    /*Scroll to top when arrow up clicked END*/
</script>