<?xml version="1.0" encoding="utf-8" ?>
<sprocs>
  <sproc name="DOAA1_INFO_INSERT">
    <param name="DataCaptYM" SqlDbType="8" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="MenuID" SqlDbType="12" direction="1"></param>
    <param name="DataUser" SqlDbType="12" direction="1"></param>
    <param name="DataStatus" SqlDbType="16" direction="1"></param>
    <param name="DataStatusLog" SqlDbType="12" direction="1"></param>
    <param name="DataValid" SqlDbType="3" direction="1"></param>
    <param name="DataLocked" SqlDbType="3" direction="1"></param>
    <param name="stMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStateUGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStateUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStatePGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStatePGPT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStateUGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStateUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStatePGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStatePGPT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignUGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignPGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignPGPT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPHMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stPHMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPhDFT" SqlDbType="8" direction="1"></param>
    <param name="stPhDPT" SqlDbType="8" direction="1"></param>
    <param name="stGradPhDFT" SqlDbType="8" direction="1"></param>
    <param name="stGradPhDPT" SqlDbType="8" direction="1"></param>
  </sproc>
  <sproc name="DOAA1_INFO_SELECT_BY_DataCaptYM_DeptID_MenuID">
    <param name="DataCaptYM" SqlDbType="8" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="MenuID" SqlDbType="12" direction="1"></param>
  </sproc>
  <sproc name="DOAA1_INFO_UPDATE">
    <param name="IDNo" SqlDbType="8" direction="1"></param>
    <param name="DataCaptYM" SqlDbType="8" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="MenuID" SqlDbType="12" direction="1"></param>
    <param name="DataUser" SqlDbType="12" direction="1"></param>
    <param name="DataStatus" SqlDbType="16" direction="1"></param>
    <param name="DataStatusLog" SqlDbType="12" direction="1"></param>
    <param name="DataValid" SqlDbType="3" direction="1"></param>
    <param name="DataLocked" SqlDbType="3" direction="1"></param>
    <param name="stMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStateUGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStateUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStatePGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalWithinStatePGPT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStateUGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStateUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStatePGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalOutsideStatePGPT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignUGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignPGFT" SqlDbType="8" direction="1"></param>
    <param name="stTotalForeignPGPT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stEcoBackMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stSocChaMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPHMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stPHMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stPHMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholarGovMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorInstMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtFemalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stScholorPvtMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stNoScholorMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stIntakeMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stAdmitMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stLateralMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stMinGradMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stPlaceMedSalMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stHigherMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfNatMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMaleUGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMaleUG5FT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMalePGFT" SqlDbType="8" direction="1"></param>
    <param name="stConfIntMalePGPT" SqlDbType="8" direction="1"></param>
    <param name="stPhDFT" SqlDbType="8" direction="1"></param>
    <param name="stPhDPT" SqlDbType="8" direction="1"></param>
    <param name="stGradPhDFT" SqlDbType="8" direction="1"></param>
    <param name="stGradPhDPT" SqlDbType="8" direction="1"></param>
  </sproc>
  <sproc name="GET_LOGIN_USER">
    <param name="UserName" SqlDbType="12" direction="1"></param>
    <param name="UserPassword" SqlDbType="12" direction="1"></param>    
  </sproc>  
  <sproc name="GET_CURRENT_USER_MENU">
    <param name="UserID" SqlDbType="12" direction="1"></param>    
  </sproc>
  <sproc name="GET_RANK_INFO_MSG">    
  </sproc>
  <sproc name="stINFO2_INSERT">    
    <param name="DataCaptYM" SqlDbType="8" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="MenuID" SqlDbType="12" direction="1"></param>
    <param name="DataUser" SqlDbType="12" direction="1"></param>
    <param name="DataStatus" SqlDbType="16" direction="1"></param>
    <param name="DataStatusLog" SqlDbType="12" direction="1"></param>
    <param name="DataValid" SqlDbType="3" direction="1"></param>
    <param name="DataLocked" SqlDbType="3" direction="1"></param>
    <param name="stFeeUGNat" SqlDbType="8" direction="1"></param>
    <param name="stFeeUGInt" SqlDbType="8" direction="1"></param>
    <param name="stFeePGNat" SqlDbType="8" direction="1"></param>
    <param name="stFeePGInt" SqlDbType="8" direction="1"></param>
    <param name="stFeePHDNat" SqlDbType="8" direction="1"></param>
    <param name="stFeePHDInt" SqlDbType="8" direction="1"></param>
    <param name="stExchUGInFT" SqlDbType="8" direction="1"></param>
    <param name="stExchUGInPT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGInFT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGInPT" SqlDbType="8" direction="1"></param>
    <param name="stExchUGOutFT" SqlDbType="8" direction="1"></param>
    <param name="stExchUGOutPT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGOutFT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGOutPT" SqlDbType="8" direction="1"></param>
  </sproc>
  <sproc name="stINFO2_UPDATE">
    <param name="IDNo" SqlDbType="8" direction="1"></param>
    <param name="DataCaptYM" SqlDbType="8" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="MenuID" SqlDbType="12" direction="1"></param>
    <param name="DataUser" SqlDbType="12" direction="1"></param>
    <param name="DataStatus" SqlDbType="16" direction="1"></param>
    <param name="DataStatusLog" SqlDbType="12" direction="1"></param>
    <param name="DataValid" SqlDbType="3" direction="1"></param>
    <param name="DataLocked" SqlDbType="3" direction="1"></param>
    <param name="stFeeUGNat" SqlDbType="8" direction="1"></param>
    <param name="stFeeUGInt" SqlDbType="8" direction="1"></param>
    <param name="stFeePGNat" SqlDbType="8" direction="1"></param>
    <param name="stFeePGInt" SqlDbType="8" direction="1"></param>
    <param name="stFeePHDNat" SqlDbType="8" direction="1"></param>
    <param name="stFeePHDInt" SqlDbType="8" direction="1"></param>
    <param name="stExchUGInFT" SqlDbType="8" direction="1"></param>
    <param name="stExchUGInPT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGInFT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGInPT" SqlDbType="8" direction="1"></param>
    <param name="stExchUGOutFT" SqlDbType="8" direction="1"></param>
    <param name="stExchUGOutPT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGOutFT" SqlDbType="8" direction="1"></param>
    <param name="stExchPGOutPT" SqlDbType="8" direction="1"></param>
  </sproc>

  <sproc name="LIBINFO_INSERT">
    <param name="DataCaptYM" SqlDbType="8" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="MenuID" SqlDbType="12" direction="1"></param>
    <param name="DataUser" SqlDbType="12" direction="1"></param>
    <param name="DataStatus" SqlDbType="16" direction="1"></param>
    <param name="DataStatusLog" SqlDbType="12" direction="1"></param>
    <param name="DataValid" SqlDbType="3" direction="1"></param>
    <param name="DataLocked" SqlDbType="3" direction="1"></param>    
    <param name="SubscJourDB" SqlDbType="8" direction="1"></param>
    <param name="PrintedBooks" SqlDbType="8" direction="1"></param>
    <param name="TotalCollection" SqlDbType="8" direction="1"></param>
    <param name="FYAddition" SqlDbType="8" direction="1"></param>
    <param name="LibMembers" SqlDbType="8" direction="1"></param>
    <param name="LibSeatCap" SqlDbType="8" direction="1"></param>
    <param name="SemWSOrg" SqlDbType="8" direction="1"></param>
    <param name="BooksChMono" SqlDbType="8" direction="1"></param>
    <param name="JourPapers" SqlDbType="8" direction="1"></param>
    <param name="ConfSympWSPapers" SqlDbType="8" direction="1"></param>
    <param name="SciTechReports" SqlDbType="8" direction="1"></param>
  </sproc>
  <sproc name="LIBINFO_UPDATE">
    <param name="IDNo" SqlDbType="8" direction="1"></param>
    <param name="DataCaptYM" SqlDbType="8" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="MenuID" SqlDbType="12" direction="1"></param>
    <param name="DataUser" SqlDbType="12" direction="1"></param>
    <param name="DataStatus" SqlDbType="16" direction="1"></param>
    <param name="DataStatusLog" SqlDbType="12" direction="1"></param>
    <param name="DataValid" SqlDbType="3" direction="1"></param>
    <param name="DataLocked" SqlDbType="3" direction="1"></param>
    <param name="SubscJourDB" SqlDbType="8" direction="1"></param>
    <param name="PrintedBooks" SqlDbType="8" direction="1"></param>
    <param name="TotalCollection" SqlDbType="8" direction="1"></param>
    <param name="FYAddition" SqlDbType="8" direction="1"></param>
    <param name="LibMembers" SqlDbType="8" direction="1"></param>
    <param name="LibSeatCap" SqlDbType="8" direction="1"></param>
    <param name="SemWSOrg" SqlDbType="8" direction="1"></param>
    <param name="BooksChMono" SqlDbType="8" direction="1"></param>
    <param name="JourPapers" SqlDbType="8" direction="1"></param>
    <param name="ConfSympWSPapers" SqlDbType="8" direction="1"></param>
    <param name="SciTechReports" SqlDbType="8" direction="1"></param>
  </sproc>
  <sproc name="ADD_RANK_USER">
    <param name="UserID" SqlDbType="12" direction="1"></param>
    <param name="UserEmpNo" SqlDbType="12" direction="1"></param>
    <param name="UserName" SqlDbType="12" direction="1"></param>
    <param name="UserPassword" SqlDbType="12" direction="1"></param>
    <param name="UserMob" SqlDbType="12" direction="1"></param>
    <param name="UserEmail" SqlDbType="12" direction="1"></param>
    <param name="UserValid" SqlDbType="3" direction="1"></param>
    <param name="UserRemarks" SqlDbType="12" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="UserWork" SqlDbType="12" direction="1"></param>
    <param name="UserRole" SqlDbType="12" direction="1"></param>
    <param name="IsEmailVerified" SqlDbType="2" direction="1"></param>
    <param name="ActivationCode" SqlDbType="14" direction="1"></param>
  </sproc>
  <sproc name="UPDATE_RANK_USER">
    <param name="UserID" SqlDbType="12" direction="1"></param>
    <param name="UserEmpNo" SqlDbType="12" direction="1"></param>
    <param name="UserName" SqlDbType="12" direction="1"></param>
    <param name="UserPassword" SqlDbType="12" direction="1"></param>
    <param name="UserMob" SqlDbType="12" direction="1"></param>
    <param name="UserEmail" SqlDbType="12" direction="1"></param>
    <param name="UserValid" SqlDbType="3" direction="1"></param>
    <param name="DeptID" SqlDbType="12" direction="1"></param>
    <param name="UserRole" SqlDbType="12" direction="1"></param>
    <param name="UserWork" SqlDbType="12" direction="1"></param>
  </sproc>
  <sproc name="CHECK_USER_EXIST_BY_EMAIL_EMPNO">
    <param name="UserEmail" SqlDbType="12" direction="1"></param>
    <param name="UserEmpNo" SqlDbType="12" direction="1"></param>
    <param name="UserID" SqlDbType="12" direction="1"></param>
    <param name="UserMob" SqlDbType="12" direction="1"></param>
  </sproc>
</sprocs>