/.vs
/DataAccess/bin
/DataAccess/obj
/DataCollection/bin
/DataCollection/obj
/DataCollection/DataCollection.csproj.user
/DataAccess/obj/Debug/DataAccess.csproj.FileListAbsolute.txt
/DataCollection/obj/Debug/DataCollection.csproj.FileListAbsolute.txt
/DataCollection/Properties/Settings.Designer.cs
/DataCollection/Uploads/
