body{padding:0;}
.bg{padding:15px;margin-bottom:initial;border:1px solid transparent;border-radius:4px;}
.sidepane, .contentBody{border-width:0 0 0 1px;border-style:solid;border-color:#ccc;}
.gray-bg{background:#F1F1F1 !important;}

.body-content{padding-left:15px;padding-right:15px;min-height:495px;}
.field-validation-error{color:#b94a48;}
.field-validation-valid{display:none;}
.validation-summary-errors{color:#b94a48;}
.validation-summary-valid{display:none;}
.goapsApp{border-width:1px;border-style:solid;border-color:#ccc;}
.block{display:block;margin-top:5px;margin-bottom:5px;}
.content-h2{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;background:#eee url("../img/rightArrow.png") no-repeat left center;padding:7px 7px 7px 45px;font-weight:normal;color:#111;letter-spacing:-1px;font-size:1.5em;margin:20px -10px 10px -10px;cursor:default;}
.no-list{list-style:none;}

input,select,textarea{max-width:280px;}
input.input-validation-error{border:1px solid #b94a48;}
input[type="checkbox"].input-validation-error{border:0 none;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=number],input[type="number"]{-moz-appearance:textfield;-webkit-appearance:textfield;}
input[type="number"]{-moz-appearance:textfield;}
h3{color:#933;padding:10px;line-height:1.5em;font-weight:500;}
td > input{text-align:center;margin-left:8px;}

.navbar{margin-bottom:0px !important;}
.nav > li{position:relative;display:block;height:55px;}
.navbar-default{border-width:1px;box-shadow:1px 0px 3px 1px #999;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{border:1px solid #ccc;background-color:#ccc;}
.navbar-default .no-hover .navbar-nav > li > a:hover, .navbar-default .no-hover .navbar-nav > li > a:focus{background-color:transparent !important;border:none !important;}
.navbar-nav > li > a{font-weight:600;padding-bottom:18px;}
.navnew{color:#337ab7 !important;}

.popover.right{text-align:justify !important;max-width:512px !important;}
.errorMsg{color:red;list-style:none;padding-left:5px !important;}

#page-header{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;background-color:#034160;margin:5px 0 8px 0;height:144px;}
#header-content{overflow:hidden;padding:5px;}
#header-content h1{margin-top:10px;font-weight:bold;font-size:45px;color:#ffffff;letter-spacing:2px;}
#header-content h2{text-align:center;vertical-align:middle;margin-top:5%;font-weight:bold;color:#FFF;font-size:40px;font-family:serif;letter-spacing:0px;}
#headerCustomHeading{background-repeat:no-repeat;background-size:700px 210px;height:210px;background-position-x:32px;}
#headerCustomHeading > h1{background-color:#ffffff;font-family:serif;}
#header-logo > a > img{height:120px;width:120px;margin-top:1px;margin-bottom:1px;}
#headerCustomLogo > a > img{width:220px;padding-left:10px;padding-top:0px;}

table tbody tr td{color:#337ab7;text-decoration:none;font-size:medium;padding:2px !important;}
table tbody tr:nth-child(even){background:#b8e2ee;}
table tbody tr:nth-child(odd){background:#e8f8f5;}
table.doaa2 tbody tr:nth-child(even){background-color:#ffcc99;}
table.doaa2 tbody tr:nth-child(odd){background:#ff9966;}
table.doaa2 tr{height:32px !important;}
table tr{background-color:#d8d8f3;}
thead tr{background-color:#2c86d1;color:white;}
.table tbody > tr > td{padding:2px !important;vertical-align:middle;}
.table thead > tr > th{vertical-align:bottom;border:2px solid #dddddd;text-align:center;}
.table .form-control{display:block;width:90%;height:30px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#555555;vertical-align:middle;background-color:#ffffff;border:1px solid #cccccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
.table tbody td{border:solid 1px #DDEEEE;color:#333;padding:10px;text-shadow:1px 1px 1px #fff;}

.login-form{width:340px;margin:50px auto;}
.login-form form{margin-bottom:15px;background:#f7f7f7;box-shadow:0px 2px 2px 2px rgba(0, 0, 0, 0.3);padding:30px;}
.login-form h2{margin:0 0 15px;}

#divLoading{display:none;}
#divLoading.show{display:block;position:fixed;z-index:9999;background-image:url('/images/loading3.gif');background-color:#666;opacity:0.7;background-repeat:no-repeat;background-position:center;left:0;bottom:0;right:0;top:0;}
#loadinggif.show{left:50%;top:50%;position:absolute;z-index:101;width:32px;height:32px;margin-left:-16px;margin-top:-16px;}
div.content{width:1000px;height:1000px;}

.footer-bottom{border-top:1px solid #666;background:#1e1e1e;}
.copyright-text p{color:#ccc;margin-top:9px;margin-bottom:0;}
.social-link li{display:inline-block;margin:0 5px;}
.social-link li a{color:#ccc;border:1px solid #ccc;width:40px;height:40px;line-height:40px;border-radius:50%;text-align:center;display:inline-block;font-size:14px;transition:.5s;}

.stepwizard-step p{margin-top:10px;}
.stepwizard-row{display:table-row;}
.stepwizard{display:table;width:100%;position:relative;margin-top:30px;}
.stepwizard-step button[disabled]{opacity:1 !important;filter:alpha(opacity=100) !important;}
.stepwizard-row:before{top:14px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;z-order:0;}
.stepwizard-step{display:table-cell;text-align:center;position:relative;}
.btn-circle{width:30px;height:30px;text-align:center;padding:6px 0;font-size:12px;line-height:1.428571429;border-radius:15px !important;}
.bs-wizard{border-bottom:solid 1px #e0e0e0;padding:0 0 10px 0;}
.bs-wizard > .bs-wizard-step{padding:0;position:relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step{}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum{color:#595959;margin-bottom:5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info{color:#999;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot{position:absolute;width:30px;height:30px;display:block;background:#a4d7e2;top:45px;left:50%;margin-top:-15px;margin-left:-15px;border-radius:50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after{content:' ';width:14px;height:14px;background:#fbbd19;border-radius:50px;position:absolute;top:8px;left:8px;}
.bs-wizard > .bs-wizard-step > .progress{position:relative;border-radius:0px;height:8px;box-shadow:none;margin:20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar{width:0px;box-shadow:none;background:#a4d7e2;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar{width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar{width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar{width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar{width:100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot{background-color:#f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after{opacity:0;}
.bs-wizard > .bs-wizard-step:first-child > .progress{left:50%;width:50%;}
.bs-wizard > .bs-wizard-step:last-child > .progress{width:50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{pointer-events:none;}


.about-title{}
.about-title h1{color:#535353;font-size:45px;font-weight:600;}
.about-title span{color:#f19247;font-size:45px;font-weight:700;}
.about-title h3{color:#535353;font-size:23px;margin-bottom:24px;}
.about-title p{color:#7a7a7a;line-height:1.8;margin:0 0 15px;}
.about-paddingB{padding-bottom:12px;}
.about-img{padding-left:57px;}
.about-icons{margin:48px 0px 48px 0px;}
.about-icons i{margin-right:10px;padding:0px;font-size:35px;color:#323232;box-shadow:0 0 3px rgba(0, 0, 0, .2);}
.about-icons li{margin:0px;padding:0;display:inline-block;}

#social-fb:hover{color:#3B5998;transition:all .001s;}
#social-tw:hover{color:#4099FF;transition:all .001s;}
#social-gp:hover{color:#d34836;transition:all .001s;}
#social-em:hover{color:#f39c12;transition:all .001s;}

.panel-default {border-color: #97bad8;}
#DOFATableform .table-responsive-xl {overflow:auto !important;}
#SRICTableDiv table tr td:first-child {width: 50%;}
.more-less {float: right;}

 @media print{
    .no-print, .no-print *{display:none !important;}   
    #DOFATableform .table-responsive-xl {width: 100%;height: auto;overflow: visible !important; }
    /*body {width: 2192px !important;height: auto;overflow: visible;}
.container #DOFATableform, .body-content #DOFATableform{margin: 0;}*/
}

