@model DataCollection.Models.TableViewModel
@{
    ViewBag.Title = "Table";
}
<style>
    .table tbody > tr > td {
        line-height: 2.0;
    }
    #tableDiv{
        overflow:auto;
    }
</style>

<div class="direction">
    <h3>Table</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body" style="padding-top:5px;padding-bottom:5px;">
        <div class="panel-title pull-right">
            <label class="control-label" style="margin-top:4px;">Select Table :&nbsp;</label>
            @Html.DropDownListFor(a => a.Tables, Model.Tables, "-- Select --", new { @id="TableList" ,@class = "form-control", @style = "margin-right: 10px !important; display: inline; width: 125px;" })
        </div>
    </div>
</div>
<div class="bd-example">    
    <div class="table-responsive-xl" id="tableDiv">        
    </div>
</div>
<script>
    $("#TableList").change(function () {
         $.post("/Admin/GetTableDetail",
         {
             TableName: $("#TableList").val()
         },
         function (data) {
             $("#tableDiv").html(data);
         });
     });
</script>