@model DataCollection.Models.FormsViewModel

@{
    ViewBag.Title = "DOSW";
}
@Html.Hidden("RankMsgHdn", Model.rankmsg)
<div class="direction">
    <h3>ADIR DATA PROFORMA FOR RANKING</h3>
</div>
<form id="ADIRTableform">
    <div class="bd-example">
        @Html.AntiForgeryToken()
        <div class="table-responsive-xl" id="ADIRTableDiv">
            @Html.Partial("ADIRFormPartial",Model.info2)
        </div>
    </div>

</form>
@Html.Partial("AlertMessagePartail")

<script>
    $(document).ready(function () {
        bindDataCaptYMChangeEvent();
    });
</script>