@model DataCollection.Models.FormsViewModel

@{
    ViewBag.Title = "DOAA";
}
@Html.Hidden("RankMsgHdn", Model.rankmsg)
<div class="direction">
    <h3>DOAA DATA PROFORMA FOR RANKING</h3>
</div>
<form id="DOAA1Tableform">
    <div class="bd-example">
        @*@Html.AntiForgeryToken()*@
        <div id="messageDiv"></div>
        <div class="table-responsive-xl" id="DOAA1TableDiv">
            @Html.Partial("DOAAFormPartial", Model.info)
        </div>
    </div>

</form>
@Html.Partial("AlertMessagePartail")
    
<script>
    $(document).ready(function () {
        bindDataCaptYMChangeEvent();
        $("#EmpDept").val($("#EmpDept [selected='selected']").val());
        updateOverAll();        
    });

    function onDeptChange(el) {
        $("#DataCaptYMhid").val($("#DataCaptYM").val());
        var empdept = $("#EmpDept").val() || "";        
        $.post("/Forms/OnDAtaCaptYMChange",
        {
            DataCaptYM: $("#DataCaptYM").val().toString(),
            Menu: UrlConstant.Menu,
            DeptID: MenuConstant.IsAdmin ? $("#DepartmentsDDL").val() : MenuConstant.DeptId,
            EmpId: empdept
        },
        function (data) {
            var tableDivId = UrlConstant.TableDivID;
            $(tableDivId).html("");
            $(tableDivId).html(data);
            updateOverAll();
            if ($("#DataCaptYM").val() > 0) {
                $("#buttonUL").show();
            } else {
                $("#buttonUL").hide();
            }
        });
    }

    function updateOverAll() {
        if ($("#EmpDept").val() != "") {
            if ($("#EmpDept").val() == "DOAA") {
                $("#OverallTH").html("Overall");
            } else {
                $("#OverallTH").html($("#EmpDept [selected='selected']").text());
            }
        }
    }
</script>