@model DataCollection.Models.FormsViewModel

@{
    ViewBag.Title = "DOFA";
}
@Html.Hidden("RankMsgHdn", Model.rankmsg)
<div class="direction">
    <h3>DOFA DATA PROFORMA FOR RANKING</h3>
</div>
<form id="DOFATableform">
    <div class="bd-example">
        @Html.AntiForgeryToken()
        <div id="messageDiv"></div>
        <div class="table-responsive-xl" id="DOFATableDiv">
            @Html.Partial("DOFAFormPartial", Model.dofaViewModel)
        </div>
    </div>

</form>
@Html.Partial("AlertMessagePartail")
@section scripts{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui.js"></script>
}
<script>
    $(document).ready(function () {
        bindDataCaptYMChangeEvent();
    });

    function onEmpDeptChange(el) {
        $("#DataCaptYMhid").val($("#DataCaptYM").val());
        var empdept = $("#EmpDept").val() || "";
        $.post("/Forms/OnDofaDeptChange",
            {
                DataCaptYM: $("#DataCaptYM").val().toString(),
                EmpDept: empdept,
                DeptID: MenuConstant.DeptId
            },
            function (data) {
                $("#DOFATableDiv").html("");
                $("#DOFATableDiv").html(data);
                if ($("#DataCaptYM").val() > 0) {
                    $("#buttonUL").show();
                } else {
                    $("#buttonUL").hide();
                }
            });
    }
</script>